body{
    background-color: rgb(250, 250, 250);
    font-family: "Montserrat"
}
.global-container{
    width: 32.5%;
    margin: 30px auto;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 10px;
}
.top-container{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 0 2rem;
}
.body-container{
    padding: 0 1rem;
}
.left-list-elements{
    display: flex;
    align-items: center;
    padding: 0 1rem;
}
.list-elements{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}
.btn-add{
    cursor: pointer;
    background-color: blue;
    color:white;
    border: none;
    padding: 8px 12px;
    border-radius: 0px 10px 10px 0px;
    font-weight: bold;
    transition: 0.2s;
}
.btn-add:hover{
    background-color: rgb(0, 0, 219);
    transition: 0.2s;
}
.input-add{
    padding: 6px 12px;
    border-radius: 10px 0px 0px 10px;
    transition: 0.2s;
} 
.empty-input{
    border: 2px solid red;
    transition: 0.2s;
}
.btn-delete{
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    color:white;
    border: none;
    padding: 8px 12px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.2s;
}
.btn-delete:hover{
    background-color: rgb(216, 0, 0);
    transition: 0.2s;
}
.btn-status{
    margin-right: 3.5px;
    cursor: pointer;
    background-color:  rgb(187, 187, 0);
    color:white;
    border: none;
    padding: 8px 12px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.2s;
}
.btn-status:hover{
    background-color: rgb(184, 184, 0);
    transition: 0.2s;
}
.message{
    color: rgb(255, 0, 0);
    font-weight: bold;
    margin: 0;
    padding-bottom: 20px;
}
.list-item{
    padding: 5px;
    padding-top: 0px;
    font-weight: 500;
}
.list-container{
    margin: 0px
}
.btn-item-status{
    background-color: rgb(84, 187, 0);
}
.btn-item-status:hover{
    background-color: rgb(76, 143, 0);
}

